@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>boost.usefuledge.com</PageTitle>

<h1 id="Title">Web Command Gate</h1>

<div id="CommandArea">
    <input type="text" id="CommandTextbox" @bind-value="commandString" @bind-value:event="oninput" 
    @onkeydown="ExecCommand" /> 


</div>

<div id="CmdHistory"></div>

<div id="StdOut">@OutputString</div>


@code {

    public string commandString {get; set;}
    
    string OutputString = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("InitializeTopPage");
    }



    async Task ExecCommand(KeyboardEventArgs e)
    {

        Console.WriteLine(commandString);

        if(e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if(commandString == "") return;
            DataModel.ParseCommand.CommandInfo commandInfo = new DataModel.ParseCommand.CommandInfo();
            commandInfo = DataModel.ParseCommand.GetCommandInfo(commandString);            

            if(commandInfo.FunctionLanguage == "js")
            {
                await JSRuntime.InvokeVoidAsync(commandInfo.FunctionName, commandInfo.Parameter);
            }

            
        }

    }



}


