@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>boost.usefuledge.com</PageTitle>

<h1 id="Title">Web Command Gate</h1>

<div id="CommandArea">
    <input type="text" id="CommandTextbox" @bind-value="commandString" @bind-value:event="oninput" 
    @onkeydown="ExecCommand" /> 


</div>

<div>@OutputString</div>


@code {

    public string commandString {get; set;}
    string OutputString = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("InitializeTopPage");
    }



    async Task ExecCommand(KeyboardEventArgs e)
    {

        Console.WriteLine(commandString);

        if(e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if(commandString == "") return;            

            string[] commandArray = ueBoot.DataMode.ParseCommand.Parse(commandString);
            string funcLang = ueBoot.DataMode.ParseCommand.FuncLanguage(commandArray);
            string funcName = ueBoot.DataMode.ParseCommand.FunctionName(commandArray);
            string funcParam = ueBoot.DataMode.ParseCommand.FunctionParameter(commandArray);


            await JSRuntime.InvokeVoidAsync(funcName, funcParam);
        }

    }



}


